@import "./base/base";
@import "./base/fixedbootstrap";
@import "./components/buttons";
@import "./layout/layout";
@import "./pages/author";
@import "./pages/episode";
@import "./pages/login";
@import "./pages/dashboard";

/*============AUTHOR EXCERPT============*/
#author-excerpt {
   padding-bottom: 4rem;
}
#author-excerpt h2 {
   padding-bottom: 1rem;
}
#author-excerpt img {
   margin-left: 1.8rem;
   width: 85%;
   box-shadow: -1.3rem 1.3rem 0 $off-white;
   border: 2.3rem solid $primary-color;
}

/*============FIXED BACKGROUND============*/
.background {
   width: 100%;
   height: 60vh;
}

/*============EPISODES LIST============*/
#episodes h1 {
   padding-top: 3rem;
   font-size: 2.5rem;
}
.hidden-episodes {
   width: 100%;
   margin-bottom: 2rem;
   background-color: $off-white;
   border: inherit;
   outline: none!important;
   font-size: 1.5rem;
   padding: .2rem 0;
   &:hover {
      opacity: .8;
   }
}

/*============SOCIAL ICONS============*/
.social a {
   font-size: 4.5rem;
   padding: 3rem;
}
.fa-facebook {
   color: $facebook;
   &:hover {
      color: $off-white;
   }
}
.fa-twitter {
   color: $twitter;
   &:hover {
      color: $off-white;
   }
}
.fa-instagram {
   color: $instagram;
   &:hover {
      color: $off-white;
   }
}
.fa-youtube {
   color: $youtube;
   &:hover {
      color: $off-white;
   }
}
//other icons
.fa-comment-alt {
   color: $primary-color;
   padding-right: .6rem;
}

/*============MEDIA QUERIES============*/
@media (min-width: 993px) {
   .card.page img {
      display: none;
   }
   .episode-row {
      padding-left: 6rem;
      padding-right: 6rem;
   }
}

@media (max-width: 992px) {
   .social a {
      font-size: 4rem;
      padding: 2rem;
   }
}

@media (max-width: 768px) {
   #navbarResponsive {
      background: rgba($color: $white, $alpha: .98);
      box-shadow: 0px 1px 1px $off-white;
   }
   .nav-item {
      padding: 0px 0px 0px 15px;
   }
   .navItemConnexion {
      border: none;
   }
   .caption h1 {
      font-size: 1.4rem;
      line-height: 3rem;
      letter-spacing: .15rem;
      padding-bottom: .5rem;
   }
   .caption h3 {
      font-size: 1.1rem;
      line-height: 2rem;
      letter-spacing: .15rem;
      padding-bottom: 1.2rem;
   }
   .btn-lg {
      font-size: 1rem;
      padding: .5rem 1rem;
   }
   .col-md-8 h1 {
      font-size: 1.7rem;
   }
   .fixed-wrap.secondary {
      clip: rect(1vh, auto, 30vh, 0px);
   }
   #author {
      margin-top: -25vh;
   }
   #author img {
      margin-bottom: 2rem;
   }
   #episode .display-4 {
      margin-top: -26vh;
      font-size: 1.6rem;
   }
   .card.page {
      margin-top: -22vh;
   }
   .dashboard-name {
      display: none;
   }
}

@media (max-width: 576px) {
   a.navbar-brand, 
   p.footer-brand {
      letter-spacing: .1rem;
      font-weight: 200;
      font-size: 1.1rem;
   }
   .fixed-wrap.secondary {
      clip: rect(1vh, auto, 20vh, 0px);
   }
   #author {
      margin-top: -35vh;
   }
   #episode .display-4 {
      margin-top: -36vh;
      font-size: 1.1rem;
   }
   .card.page {
      margin-top: -33vh;
   }
   .social a {
      font-size: 1.9rem;
      padding: .8rem;
   }
   .img-update {
      width: 12rem;
   }
   .sm-table {
      display: none;
   }
}

/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {...}

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) {...}

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) {...}

Extra (xl) large divices (large desktops, 1200px and up)
@media (min-width: 1200px) {...}
*/

