#author {
   margin-top: -15vh;
   padding-bottom: 2rem;
}
#author h2 {
   padding-bottom: 1rem;
}
#author img {
   margin-left: 1.8rem;
   width: 85%;
   box-shadow: -1.3rem 1.3rem 0 $off-white;
   border: 2.3rem solid $primary-color;
}
.social-small a {
   font-size: 1.5rem;
   padding: 1rem;
}