.updatedAt-dashboard {
   font-size: 12px;
   font-style: italic;
}
.dashboard-name {
   margin: 0;
   margin-right: .1rem;
   font-size: 14px;
   line-height: 0;
   font-weight: 600;
   color: rgba($color: $light-black, $alpha: .85)
}
.btn-comment {
   margin: 0 0 1rem;
   float: right;
}   
.table-episode {
   min-width: 120px;
}
.table-comment {
   overflow-wrap: break-word!important;
   max-width: 300px;
}
.dashboard-page {
   padding: 0;
}